# dependencies
node_modules/

# env / secrets
.env
.env.*
android/app/debug.keystore
android/local.properties

# Expo / React Native
.expo/
.expo-shared/
*.log

# Builds
dist/
build/
coverage/

# iOS
ios/Pods/
ios/build/
DerivedData/

# Android build caches
android/.gradle/
android/build/
android/app/build/

# OS
.DS_Store
node_modules 11.50.24/
node_modules 11.50.24/
